ADMIN_TELEGRAM_CHAT_ID=
APP_ADMIN_URL=
ARVAN_ACCESS_KEY=
ARVAN_BUCKET_NAME=
ARVAN_CDN_DOMAIN=
ARVAN_ENDPOINT=
ARVAN_S3_BUCKET=
ARVAN_S3_ENDPOINT=
ARVAN_S3_REGION=
ARVAN_SECRET_KEY=
GEMINI_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TELEGRAM_API_HASH=
TELEGRAM_API_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_PHONE=
TELEGRAM_PROXY=